<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ss"></ion-back-button>
    </ion-buttons>
    <ion-title>Sabah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="test">
    <ion-card-header>
      <ion-card-title color="light">Sabah</ion-card-title>
    </ion-card-header>
    <ion-card-content class="test1">
      As the second-largest state in Malaysia, Sabah is known as the highest mountain in the country, Mount Kinabalu. Apart from the mountains, 
      it also houses some of the most beautiful places of interest in Malaysia such as Mantanani Island and ‘Kokol Hill Elf’. Not only that, you can also enjoy fresh,
       delicious and cheap seafood here.
    </ion-card-content>
  </ion-card>
  <ion-text color="light">
    <h1>Discover</h1>
  </ion-text>
<ion-card class="test">
  <img src="assets/kinabalu.jpg" routerLink="/kinabalu">
  <ion-card-header>
    <ion-card-title color="light">Mount Kinabalu</ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    Mount Kinabalu is the highest mountain in Borneo and Malaysia. With an elevation of 13,435 ft, it is third-highest peak of an island on Earth, and 20th most prominent mountain in the world by topographic prominence.
     The mountain is located in Ranau district, West Coast Division of Sabah, Malaysia.
  </ion-card-content>
</ion-card>

<ion-card class="test">
  <img src="assets/mantanani.jpg" routerLink="/mantanani">
  <ion-card-header>
    <ion-card-title color="light">Pulau Mantanani</ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    Mantanani Island is an island famous for its variety of marine life, beautiful beaches, and tranquil atmosphere. Looks like a thin knife from a bird’s eye view, the island has a beach length of up to 25 meters.
     There are many activities you can do here such as trekking and water sports, or you can also relax on the beach.
  </ion-card-content>
</ion-card>
</ion-content>
