<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="tab-group">
    <div class="tab">
      <input type="checkbox" id="tab-one" name="tabs">
      <label for="tab-one"><p>Does the application need to be registered before using it?</p></label>
      <div class="tab-content">
        <p>yes, this application requires users to register first before using it.
        </p>
      </div>
  </div>
  <div class="tab">
    <input type="checkbox" id="tab-two" name="tabs">
    <label for="tab-two"><p>Why was this application created?</p></label>
    <div class="tab-content">
      <p>This application was created based on the observations of the creator of this application.
         This is to make it easier for users who want to travel to a new place so that their  know the place they want to go.
      </p>
    </div>
  </div>
  <div class="tab">
    <input type="checkbox" id="tab-three" name="tabs">
    <label for="tab-three"><p>Will the app always get new place updates?</p></label>
    <div class="tab-content">
      <p>Developers will do their best to get updates if there is a new place, to make it easier for users to know.
      </p>
    </div>
  </div>
  <div class="tab">
    <input type="checkbox" id="tab-four" name="tabs">
    <label for="tab-four"><p>Does this application need to pay?</p></label>
    <div class="tab-content">
      <p>Users do not need to pay for this application if they want to use it. This application
        can be used anytime 
      </p>
    </div>
  </div>
  </div>
  
</ion-content>
