<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/semenanjung"></ion-back-button>
    </ion-buttons>
    <ion-title>Negeri Sembilan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="test">
    <ion-card-header>
      <ion-card-title color="light">Negeri Sembilan</ion-card-title>
    </ion-card-header>
    <ion-card-content class="test1">
      Another state that has many interesting places in Malaysia that you should visit is Negeri Sembilan.
       Whether you are looking for a place to visit that is close to forests or beaches, the state has something to offer you. 
    </ion-card-content>
  </ion-card>
  <ion-text color="light">
    <h1>Discover</h1>
  </ion-text>
<ion-card class="test">
  <img src="assets/cahaya.jpg" routerLink="/cahaya">
  <ion-card-header>
    <ion-card-title color="light">Pantai Cahaya Negeri</ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    State Light Beach is one of the largest and more popular beaches in Port Dickson. There is a wooden bridge built there that extends into the sea and connects to a small mangrove island,
     Bird Island that you can visit. In addition, there are many facilities available such as toilets, huts and a large car park for the convenience of visitors. With these facilities and 
     activities such as water sports, boating, and fishing, it is not surprising why this is one of the main attractions in Negeri Sembilan.
  </ion-card-content>
</ion-card>

<ion-card class="test">
  <img src="assets/panjang.jpg" routerLink="/panjang">
  <ion-card-header>
    <ion-card-title color="light">Pasir Panjang Amenity Forest </ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    This amenity forest is one of the only amenity forests located along the coast in Port Dickson. This place is very suitable for nature lovers because this place is rich in flora and fauna.
     In addition, its location on a hill and complete with facilities such as forest tracks, jogging tracks, public toilets, and food stalls make it one of the more popular attractions in Negeri Sembilan.
  </ion-card-content>
</ion-card>
</ion-content>