ion-content{
    --background: url(../../assets/bg2.gif) no-repeat center center/cover;
  }
  ion-title {
    font-weight: 600;
  }
  
  .test {
    width: auto;
    height: auto;
    box-shadow: none;
    border-radius: 12px;
    background: rgba(255,255,255,0.3);
  }
  .test1{
      color: white;
  }