<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="test">
<ion-card-title color="light" class="ion-text-center">About Us</ion-card-title>
<ion-card-content class="test1">
  This application was created to make it easier for users who want to travel in Malaysia not to get lost.
   This application is aimed at beginner tourists, this is because this application is very simple and concise that has information about famous and interesting places in Malaysia.
    So, I hope this application can make it easier for users.<br>
    <br>
    <b>"Below is our detail if you have any question, please refer the detail below"</b><br>
    Email: kl1909006091@student.kuptm.edu.my <br>
    Num-Tel: 0127625133
</ion-card-content>
</ion-card>

</ion-content>
