<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/semenanjung"></ion-back-button>
    </ion-buttons>
    <ion-title>Melaka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="test">
    <ion-card-header>
      <ion-card-title color="light">Melaka</ion-card-title>
    </ion-card-header>
    <ion-card-content class="test1">
      Known as a historic state in Malaysia, you can be sure that you will never run out of interesting places to visit in Melaka.
       Apart from the historic location and one of the busiest night markets in Malaysia, there are also outdoor activity options such as Skytrex Adventure Melaka for nature lovers.
        With something for everyone, you should definitely make a trip to Melaka part of your holiday plans.
    </ion-card-content>
  </ion-card>
  <ion-text color="light">
    <h1>Discover</h1>
  </ion-text>
<ion-card class="test">
  <img src="assets/afamosa1.jpg" routerLink="/afamosa">
  <ion-card-header>
    <ion-card-title color="light">A'famosa</ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    A Famosa was a Portuguese fortress built in Malacca, Malaysia, in 1512.
    The oldest part of the fortress was a five-storey keep which gave its name to the fortress as a whole.
  </ion-card-content>
</ion-card>

<ion-card class="test">
  <img src="assets/klebang.jpg" routerLink="/klebang">
  <ion-card-header>
    <ion-card-title color="light">Klebang Beach </ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    As a destination attraction, Pantai Klebang Melaka offers beach picnics, kite flying, varied food trucks and coconut shakes.
     As of two years ago, photographers and Instagrammers have been making a beeline to Klebang Sand Dunes since the first desert-like landscape photograph went viral.
<br>
<br>
    Located 15 minutes from Melaka city, at the end of the Klebang peninsula, these hills of sand are the result of land reclamation activities from a decade ago.
     Due to stability issues, beach front developments were abandoned, leaving many piles of sand 10m to 20m high, sitting idle on a land of emptiness.
  </ion-card-content>
</ion-card>
</ion-content>
