<ion-content [fullscreen]="true">

    
    <div id="container">
        <ion-text color="light">
            <h1>Welcome to<br>Trip Planner<br>for Beginner</h1>
        </ion-text>
     <img src="/assets/trip2.png" alt="logo" width="75%">
     <section>
      <ion-button [routerLink]="['/login']" expand="block" fill ="solid" size=default>Let's Get Start</ion-button>
      <ion-button [routerLink]="['/register']" expand="block" fill ="solid" size=default>Sign Up</ion-button>
    </section>
    </div>
  </ion-content>
