<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/semenanjung"></ion-back-button>
    </ion-buttons>
    <ion-title>WP Kuala Lumpur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="test">
    <ion-card-header>
      <ion-card-title color="light">WP Kuala Lumpur</ion-card-title>
    </ion-card-header>
    <ion-card-content class="test1">
      Kuala Lumpur is the capital of Malaysia, and this federal territory has some of the best places of interest in Malaysia that you should visit.
       In addition, you will find a variety of delicious dishes of different races. With so many places to visit and things to eat, make sure you include Kuala Lumpur in your travel plan
    </ion-card-content>
  </ion-card>
  <ion-text color="light">
    <h1>Discover</h1>
  </ion-text>
<ion-card class="test">
  <img src="assets/klcc.jpg" routerLink="/klcc">
  <ion-card-header>
    <ion-card-title color="light">Petronas Twin Towers </ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    The Petronas Towers, or the Petronas Twin Towers, are twin skyscrapers in Kuala Lumpur, Malaysia. According to the Council on Tall Buildings and Urban Habitat's official definition and ranking,
     they were the tallest buildings in the world from 1998 to 2004 when they were surpassed by Taipei 101.
  </ion-card-content>
</ion-card>

<ion-card class="test">
  <img src="assets/aquaria.jpg" routerLink="/aquaria">
  <ion-card-header>
    <ion-card-title color="light">Aquaria KLCC </ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    The Aquaria KLCC is an oceanarium located beneath Kuala Lumpur Convention Centre within Kuala Lumpur City Centre in Kuala Lumpur, Malaysia.
  </ion-card-content>
</ion-card>
</ion-content>
