<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/johor"></ion-back-button>
    </ion-buttons>
    <ion-title>Besar Island</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-slides #sliders (ionSlidesDidLoad)='slidesDidLoad(sliders) 'pager='true' [options]='slideOpts'>
  <ion-slide >
    <img src="assets/pulau-besar.jpg">
  </ion-slide>
  <ion-slide>
    <img src="assets/pulau-besar1.jpg">
  </ion-slide>
  <ion-slide>
    <img src="assets/pulau-besar2.jpg">
  </ion-slide>
  <ion-slide>
    <img src="assets/pulau-besar3.jpg">
  </ion-slide>
</ion-slides>

<ion-text color="light">
  <h2>Besar Island</h2>
</ion-text>
</ion-content>
