<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/semenanjung"></ion-back-button>
    </ion-buttons>
    <ion-title>Johor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="test">
    <ion-card-header>
      <ion-card-title color="light">Johor</ion-card-title>
    </ion-card-header>
    <ion-card-content class="test1">
      As one of the largest states in Malaysia, you can be sure that Johor has many interesting places.
       From stunning islands to a fun day with your family at a water theme park, you’ll be able to find something you can enjoy.
        With so many places to visit here, Johor should be a part of your tourist destination in Malaysia.
    </ion-card-content>
  </ion-card>
  <ion-text color="light">
    <h1>Discover</h1>
  </ion-text>
<ion-card class="test">
  <img src="assets/legoland.jpg" routerLink="/legoland">
  <ion-card-header>
    <ion-card-title color="light">Legoland</ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    Located in Johor, this is International Theme Park No. 1 in Malaysia which is located just one way out of Singapore.
  </ion-card-content>
</ion-card>

<ion-card class="test">
  <img src="assets/pulau-besar.jpg" routerLink="/pbesar">
  <ion-card-header>
    <ion-card-title color="light">Besar Island </ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    This beautiful island is one of the famous places of interest in Johor which has fine white sand and clear blue sea.
     Pulau Besar was formerly known as Pulau Babi Besar due to the wild boar that roamed here in the past. But now, you will never be able to see it again.
  </ion-card-content>
</ion-card>
</ion-content>
