<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="test">
  <ion-text class="ion-text-center" color="light">
    <p>Peninsular Malaysia</p>
  </ion-text>
  <img src="assets/malaysiamap.png" routerLink="/semenanjung">
  <ion-text color="light">
    <p>Peninsular Malaysia, also known as West Malaysia or the Malaysian Peninsula,
       formerly known as Malaya, is the part of Malaysia which occupies the southern half of the Malay Peninsula in Southeast Asia
      and the nearby islands</p>
  </ion-text>
</ion-card>

<ion-card class="test">
  <ion-text class="ion-text-center" color="light">
    <p>Sabah & Sarawak</p>
  </ion-text>
  <img src="assets/ss.png" routerLink="/ss">
  <ion-text color="light">
    <p>East Malaysia, also known as Sabah, Sarawak and Labuan or Malaysian Borneo, is the part of Malaysia on and near the island of Borneo,
       the world's third largest island. It consists of the Malaysian states of Sabah and Sarawak, as well as the Federal Territory of Labuan.
    </p>
  </ion-text>
</ion-card>
</ion-content>
