<ion-header>
  <ion-toolbar color="danger" class="ion-text-center">
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Profile</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>

      <ion-grid>
      <ion-text class="ion-text-center" color="light">
      <h6>Your Name</h6>
      </ion-text>
            <ion-row>
              <ion-col>
                <div>{{user.name}}</div>
              </ion-col>
            </ion-row>

            <ion-text class="ion-text-center" color="light">
                  <h6>Your Email</h6>
                  </ion-text>
            <ion-row>
              <ion-col>
                <div>{{user.email}}</div>
              </ion-col>
            </ion-row>

            <ion-text class="ion-text-center" color="light">
                  <h6>Your Password</h6>
                  </ion-text>
                  <ion-row>
                  <ion-col>
                   <div> {{user.password}}</div>
                  </ion-col>
            </ion-row>
          </ion-grid>

</ion-content>