<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/semenanjung"></ion-back-button>
    </ion-buttons>
    <ion-title>Kelantan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="test">
    <ion-card-header>
      <ion-card-title color="light">Kelantan</ion-card-title>
    </ion-card-header>
    <ion-card-content class="test1">
      Kelantan is one of the most conservative states in Malaysia. Even so, it has many natural attractions that you can’t miss.
       Among the places you can visit here are the Fish Cave (a cave that is over 100 million years old) and the Pulau Suri Floating Market (one of the few floating markets in Malaysia).
    </ion-card-content>
  </ion-card>
  <ion-text color="light">
    <h1>Discover</h1>
  </ion-text>
<ion-card class="test">
  <img src="assets/irama.jpg" routerLink="/irama">
  <ion-card-header>
    <ion-card-title color="light">Irama Beach</ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    Pantai Irama is considered one of the most amazing beaches in Kelantan. Located in Bachok (close to the capital), this beach gets very busy on weekends as many people will come to relieve stress and relax.
     Apart from that, festivals are also held here regularly. With many facilities available here such as food stalls, toilets, well-organized parking, changing rooms, and a playground, it is not difficult to understand why this is one of the interesting places in Kelantan.
  </ion-card-content>
</ion-card>

<ion-card class="test">
  <img src="assets/bayu.jpg" routerLink="/bayu">
  <ion-card-header>
    <ion-card-title color="light">Bisikan Bayu Beach </ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    This interesting place in Kelantan is a very quiet and peaceful beach with soft sand.
     This beach was one of the most popular beaches in the past because of its beautiful and clean beaches, but the number of people visiting this place has been declining in recent times.
      However, many locals will still come to this place during the school holidays as this is the perfect place for the whole family to relax and unwind.
  </ion-card-content>
</ion-card>
</ion-content>
