<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/semenanjung"></ion-back-button>
    </ion-buttons>
    <ion-title>Kedah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="test">
    <ion-card-header>
      <ion-card-title color="light">Kedah</ion-card-title>
    </ion-card-header>
    <ion-card-content class="test1">
      As Malaysia’s ‘rice bowl’ where half of the country’s rice production comes from the state, there are many places to visit in Kedah during your holidays.
      Not only that, it is home to one of the most popular islands in Malaysia, Langkawi Island. With so many natural wonders on offer, Kedah should be a part
      of your travel plan when you plan a trip to the north of Peninsular Malaysia.
    </ion-card-content>
  </ion-card>
  <ion-text color="light">
    <h1>Discover</h1>
  </ion-text>
<ion-card class="test">
  <img src="assets/langkawi1.jpg" routerLink="/langkawi">
  <ion-card-header>
    <ion-card-title color="light">Langkawi</ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    Langkawi, officially known as Langkawi, the Jewel of Kedah, is a district and an archipelago of 99 islands in the Malacca Strait.
     some 30 km off the coast of northwestern Malaysia.The islands are a part of the state of Kedah, which is adjacent to the Thai border;
    the islands are a few kilometres south of Ko Tarutao.
  </ion-card-content>
</ion-card>

<ion-card class="test">
  <img src="assets/pantai.jpg" routerLink="/pantairhu">
  <ion-card-header>
    <ion-card-title color="light">Tanjung Rhu Beach</ion-card-title>
  </ion-card-header>
  <ion-card-content class="test1">
    Located just beyond Pantai Pasir Hitam, Tanjung Rhu has one of Langkawi’s best shorelines. The waters are as clear as crystal,
     the sand is powder-fine and driving towards this beach you’ll have to pass a dense corridor of jungle. The area is absolutely secluded and the atmosphere is silent and peaceful.
      Bordered by intermittent limestone crags, Tanjung Rhu is gorgeously breathtaking and even though it may be as hot as Hades in some of the other areas of Langkawi, here the air is crisp,
     clean and cool.
  </ion-card-content>
</ion-card>
</ion-content>
