<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Plan a new trip</ion-title>
  </ion-toolbar>
</ion-header>


 <ion-content>
  <div class="ion-padding">

  <ion-text color="light">
  <p>Create your planning trip!</p>
  </ion-text>

  <ion-item>
  <ion-label>Where to?</ion-label>
  <ion-input placeholder="e.g., KL, Langkawi,Melaka" type="text" [(ngModel)]="post.place" required></ion-input>
  </ion-item>

  <ion-item>
  <ion-label>Start Date</ion-label>
  <ion-datetime [(ngModel)]="post.date" required></ion-datetime>
</ion-item>

<ion-item>
<ion-label>End Date</ion-label>
  <ion-datetime [(ngModel)]="post.date1" required></ion-datetime>
  </ion-item>
  
 
  <ion-item>
  <ion-label position="floating">Note</ion-label>
  <ion-input [(ngModel)]="post.message"></ion-input>
 </ion-item>

 <ion-button expand="block" color="danger" (click)="createPost(post)">
 <ion-icon slot="start" name="send"></ion-icon>
 Save
 </ion-button>
 <ion-button expand="block" color="danger" [routerLink]="['/view-post']">
  View
  </ion-button>
 
 </div>
</ion-content>
